body {
    margin: 0;
    font-size: 32px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro__inner {
    width: 100%;
    max-width: 632px;
    max-height: 376px;
    margin: 0 auto;
}

/* Header title */
.header__title {
    color: white;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
}

.header__subtitle {
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;;
    text-align: center;
}
/* Header */
.header {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Navigation */
.nav {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color:white;
    text-decoration: none;
    position: relative;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #337ed6;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.nav__link:hover {
    color: #337ed6;

}

.nav__link:hover::after {
    display: block;
}

/* Button section */
.button {
    margin-top: 380px;
    text-align: center;
    transform: translateY(134px);
}

.button a {
    background: linear-gradient(to left, #fbad27, #fbad27);
    padding: 18px 59px;
    border-radius: 80px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* New section */
.new__secrion {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}

.description__new__section {
    width: 100%;
    max-width: 1920px;
    max-height: 800px;
    margin: 0 auto;
}

.header__title__two__section {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    line-height: 1.1;
}

.header__title__two__title {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    line-height: 1.1;
}

/* Services */

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    transform: translateX(200px) translateY(200px);
}

.price__title {
    max-width: 978px;
    max-height: 435px;
    margin: 0 auto;
}

.plane__title {
    font-size: 18px;
}
